<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pdca.mappers.QuizMapper" >

  <select id="getAll" resultType="pdca.models.EnKoDataMap">
SELECT
    @RNUM:=@RNUM + 1 AS seq,
    mapper.myid as en_myid,
    en.word as en_word,
    ko.myid as ko_myid,
    ko.word as ko_word
FROM
    english en,
    korean ko,
    en_ko_mapper mapper,
    (SELECT @RNUM:=0) R
where
    mapper.en_id = en.myid
        and mapper.ko_id = ko.myid
limit 20
  </select>


    <select id="getAnswerFromDB" parameterType="String" resultType="pdca.models.CheckAnswerFromDBVo">

        SELECT
        map.myid AS mapMyid, map.ko_id AS koMyid, en.word AS enWord
        FROM
        en_ko_mapper map,
        korean ko,
        english en
        WHERE
        map.myid IN (${value})
        AND en.myid = map.en_id
        AND ko.myid = map.ko_id;

    </select>

</mapper>